<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <title>SXSW Panel Browser</title>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
    <script src="lib/elasticsearch.angular.js"></script>
    <script src="lib/elastic.js"></script>
    <script src="dist/elasticui.js"></script>
    <link rel="stylesheet" type="text/css" href="sxsw.css">
    <script>
        var elasticurl = location.protocol + '//' + location.hostname + "/elastic"
        function setCookie(cname, cvalue, exdays) {
            var d = new Date();
            d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
            var expires = "expires=" + d.toUTCString();
            document.cookie = cname + "=" + cvalue + "; " + expires;
        }

        function getCookie(cname) {
            var name = cname + "=";
            var ca = document.cookie.split(';');
            for (var i = 0; i < ca.length; i++) {
                var c = ca[i];
                while (c.charAt(0) == ' ') c = c.substring(1);
                if (c.indexOf(name) == 0) return c.substring(name.length, c.length);
            }
            return "";
        }

        function set_userid(userid) {
            setCookie("sxswuserid", userid, 365)
            console.log("set userid to:" + userid)
        }

        function update_userid(e) {
            console.log(e)

        }

        !function () {
            var analytics = window.analytics = window.analytics || [];
            if (!analytics.initialize)if (analytics.invoked)window.console && console.error && console.error("Segment snippet included twice."); else {
                analytics.invoked = !0;
                analytics.methods = ["trackSubmit", "trackClick", "trackLink", "trackForm", "pageview", "identify", "reset", "group", "track", "ready", "alias", "page", "once", "off", "on"];
                analytics.factory = function (t) {
                    return function () {
                        var e = Array.prototype.slice.call(arguments);
                        e.unshift(t);
                        analytics.push(e);
                        return analytics
                    }
                };
                for (var t = 0; t < analytics.methods.length; t++) {
                    var e = analytics.methods[t];
                    analytics[e] = analytics.factory(e)
                }
                analytics.load = function (t) {
                    var e = document.createElement("script");
                    e.type = "text/javascript";
                    e.async = !0;
                    e.src = ("https:" === document.location.protocol ? "https://" : "http://") + "cdn.segment.com/analytics.js/v1/" + t + "/analytics.min.js";
                    var n = document.getElementsByTagName("script")[0];
                    n.parentNode.insertBefore(e, n)
                };
                analytics.SNIPPET_VERSION = "3.1.0";
                analytics.load("N5ykkusEfiM2riY14ZBHtLDiA6A3cw36");
                analytics.page()
            }
        }();


        var app = angular
                .module('main', ['elasticui'])
                .constant('euiHost', elasticurl);
        app.controller("t2", function ($scope, $http, $timeout) {
            $scope.change_user = function (e) {
                console.log(e)
                set_userid(e)
                $scope.load_my_events();

            }
            $scope.myevents = [{_source: {eventid: "!", "title": "test"}}]
            $scope.check_user = function () {
                console.log("check");
                $http.get("/sxsw_store/api/auth/check")
                        .success(function (data, status, headers, config) {
                            console.log(data);
                            $scope.user = data.handle;
                        }).error(function (data, status, headers, config) {
                    // log error
                });

            },
                    $scope.load_my_events = function () {
                        $http.get(elasticurl + '/sxswevents/event/_search?q=attendees:' + $scope.user + '&sort=utime_start:asc&size=200')
                                .success(function (data, status, headers, config) {
                                    console.log(data);
                                    $scope.myevents = data;
                                }).error(function (data, status, headers, config) {
                            // log error
                        });
                    }

            $scope.$watch('user', $scope.change_user)
            console.log("$scope.user", $scope.user)
            $scope.go = function (e) {
                $scope.change_event_status(e, 'POST')
            }

            $scope.nogo = function (e) {
                $scope.change_event_status(e, 'DELETE')
            }
            $scope.show_invite = function () {
                $scope.invitemode = true
            }

            $scope.show_confirmation_message= function(message){

                            $scope.confirmation = message;
                            $timeout(function () {
                                console.log("exit invite mode");
                                $scope.confirmation = false;
                            }, 2000)


            }


            $scope.submit_invite = function () {
                //$scope.invitemode = false;
                console.log("submit invite")
                data = JSON.stringify({
                    new_email: document.getElementById("new_email").value,
                })
                $http.post("/sxsw_store/api/users/invite/", data)
                        .then(function (data, status, headers, config) {
                            console.log(data);
                            $scope.invitemode = false
                            if (data.data.message) {
                                $scope.show_confirmation_message(data.data.message);
                            }
                            else {
                                $scope.show_confirmation_message("Done");
                            }
                        }, function (data, status, headers, config) {
                            // log error
                        });
            }

            /*
             $scope.submit_login = function () {
             console.log("submit login")
             data = JSON.stringify({
             userid: document.getElementById("email").value,
             //                    "password": document.getElementById("passwd").value,
             })
             $http.post("/sxsw_store/api/auth/login/", data)
             .then(function (data, status, headers, config) {
             console.log(data);
             if(!data.loggedin){
             alert("Login failed")
             }
             if(data.message)
             {
             alert(data.message)
             }
             $scope.check_user();
             //                            $scope.user = data.handle;
             }, function (data, status, headers, config) {
             // log error
             });

             }
             */

            $scope.submit_forgot = function () {
                console.log("submit forgot")
                data = JSON.stringify({
                    userid: document.getElementById("forgot_email").value,
                })
                $http.post("/sxsw_store/api/auth/forgot/", data)
                        .then(function (data, status, headers, config) {
                            console.log(data);
                            if (data.data.message) {
                                $scope.show_confirmation_message(data.data.message);
                            }
                            else {
                                $scope.show_confirmation_message("Done");
                            }
                            $scope.check_user();
//                            $scope.user = data.handle;
                        }, function (data, status, headers, config) {
                            // log error
                        });

            }


            $scope.logout = function () {
                console.log("submit logout")
                $http.post("/sxsw_store/api/auth/logout/")
                        .then(function (data, status, headers, config) {
                            console.log(data);
                            $scope.check_user();
//                            $scope.user = data.handle;
                        }, function (data, status, headers, config) {
                            // log error
                        });

            }


            $scope.change_event_status = function (e, method) {
                var url;
                eventid = e._source.eventid
                var http = new XMLHttpRequest();
                url = "/sxsw_store/users/" + $scope.user + "/events/" + eventid;
                http.open(method, url, true);
                http.onreadystatechange = function () {//Call a function when the state changes.
                    if (http.readyState == 4 && http.status == 200) {
                        console.log(http.responseText);
                        setTimeout(function () {
                            console.log("Refresh index")
                            $scope.indexVM.refresh(false);
                        }, 1000);
                        analytics.track("remove")
                        setTimeout(function () {
                            console.log("refresh")
                            $scope.load_my_events()
                        }, 1000);
                    }
                    if (http.status != 200) {

                        console.log("error", http.responseText);
                    }

                }
                http.send();
            }
            $scope.check_user()
        });
    </script>

</head>
<body ng-app="main" ng-controller="t2" eui-index="'sxswevents'" eui-enabled="true">

<div class="container-fluid">

    <div class="row">
        <div ng-hide="user" class="col-xs-3 col-xs-offset-9 sidebar">
            <h4>Log in to add sessions to your schedule</h4>
            <label for="email">Email: <input type="text" id="forgot_email"/></label>
            <button ng-click="submit_forgot()">Log in</button>
        </div>
        <div ng-show="!confirmation && user && invitemode" class="col-xs-3 col-xs-offset-9 sidebar">
            <h4>Email adress to send the invite to:<br/></h4>
            <label for="email">Email:<input type="text" id="new_email"/></label>
            <button ng-click="submit_invite()">Invite</button>
        </div>
        <div ng-show="confirmation" class="col-xs-3 col-xs-offset-9 sidebar">
            <h4>{{confirmation}}</h4>
        </div>
        <div ng-show="!confirmation && user && !invitemode" class="col-xs-3 col-xs-offset-9 sidebar">
            <h3>
                <button ng-click="show_invite()">Invite a new user...</button>
            </h3>

            <h3>Schedule</h3>
            <label for="user">User: {{user}}</label> <a class="actionlink" ng-click="logout()">logout</a>
            <ul>
                <li class="event" ng-repeat="doc in myevents.hits.hits"
                    eui-sort="ejs.Sort('utime_start').order('asc')" eui-enabled="true">
                    <div ng-hide="doc._source.utime_start ==  myevents.hits.hits[$index-1]._source.utime_start"
                         class="date_raw"><em>{{doc._source.date_raw}} {{doc._source.time_raw.split("-")[0]}}</em></div>
                    <a target="sxswwindow" ng-href="http://schedule.sxsw.com/events/{{doc._source.eventid}}">{{doc._source.title}}</a>&nbsp;<a
                        class="actionlink" ng-click="nogo(doc)">remove</a>
                </li>
                <li class="event" ng-hide="myevents.hits.hits.length">No Events in schedule</li>

            </ul>
        </div>
        <div class="col-xs-3 sidebar">
            <h3>Search</h3>
            <eui-searchbox field="'searchdata'"></eui-searchbox> <!-- ACTION: change to field to search on -->
            <h3>Who's attending</h3>
            <eui-singleselect field="'attendees'" size="30"></eui-singleselect>
            <!-- ACTION: change to field to use as facet -->
            <h3>Status</h3>
            <eui-checklist field="'status'" size="10"></eui-checklist> <!-- ACTION: change to field to use as facet -->
            <h3>RSVP</h3>
            <eui-checklist field="'rsvp'" size="10"></eui-checklist> <!-- ACTION: change to field to use as facet -->
            <h3>Date</h3>
            <eui-checklist field="'date_raw'" size="10"></eui-checklist>
            <!-- ACTION: change to field to use as facet -->
            <h3>Format</h3>
            <eui-checklist field="'format'" size="30"></eui-checklist> <!-- ACTION: change to field to use as facet -->
            <h3>Venue</h3>
            <eui-checklist field="'venue_name'" size="30"></eui-checklist>
            <!-- ACTION: change to field to use as facet -->
            <h3>Track</h3>
            <eui-checklist field="'track'" size="30"></eui-checklist> <!-- ACTION: change to field to use as facet -->
            <h3>Eventtype</h3>
            <eui-checklist field="'eventtype'" size="30"></eui-checklist>
            <!-- ACTION: change to field to use as facet -->
            <h3>Level</h3>
            <eui-checklist field="'level'" size="30"></eui-checklist> <!-- ACTION: change to field to use as facet -->
            <h3>Tags</h3>
            <eui-checklist field="'tags'" size="30"></eui-checklist> <!-- ACTION: change to field to use as facet -->
            <h3>Results Per Page</h3>
            <select ng-model="indexVM.pageSize">
                <option ng-repeat="item in [10, 20, 50, 100]">{{item}}</option>
            </select>
        </div>
        <div class="col-xs-6 col-xs-offset-3 main">
            <h1>Results ({{indexVM.results.hits.total}})</h1>
            <ul class="mainlist">
                <li class="event" ng-repeat="doc in indexVM.results.hits.hits"
                    eui-sort="ejs.Sort('utime_start').order('asc')" eui-enabled="true">
                    <h2 ng-hide="doc._source.utime_start ==  indexVM.results.hits.hits[$index-1]._source.utime_start"><a
                            target="sxswwindow" ng-href="">{{doc._source.date_raw}} {{doc._source.time_raw}}</a>
                    </h2>
                    <div class="licontainer">
                        <h3><a target="sxswwindow" ng-href="http://schedule.sxsw.com/events/{{doc._source.eventid}}">{{doc._source.title}}→</a>
                            <button ng-if="user && doc._source.attendees != $parent.user" ng-click="go(doc)">Add
                            </button>
                            <button ng-if="user && doc._source.attendees == $parent.user" ng-click="nogo(doc)">Remove
                            </button>
                        </h3>
                        <div class="eventcontainer">
                            <div class="content">
                                <div class="date_raw"><em>Date: </em>{{doc._source.date_raw}} {{doc._source.time_raw}}
                                </div>
                                <div class="date_raw"><em>Track: </em>{{doc._source.track}}</div>
                                <div class="date_raw"><em>Format: </em>{{doc._source.format}}</div>
                                <div class="date_raw"><em>Level: </em>{{doc._source.level}}</div>
                                <div class="date_raw"><em>Venue: </em>{{doc._source.venue_name}}
                                    {{doc._source.detail_room}}
                                </div>
                                <div ng-if="doc._source.attendees" class="attendees"><em>Attending:</em>
                                    <p ng-repeat="att in doc._source.attendees">&nbsp;{{att}},</p></div>
                            </div>
                            <div class="presenters">
                                {{doc._source.venue}}
                                <h3>Presenters:</h3>
                                <ul>
                                    <li ng-repeat="pres in doc._source.presenters">
                                        {{pres.name}} ({{pres.company}})
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div style='clear:both;'><!--clear-->{{doc._source.description}}</div>
                    </div>
                </li>
            </ul>
            <eui-simple-paging></eui-simple-paging>
        </div>

    </div>
</div>
</body>
</html>
